<div class="site-wrapper">
  <div class="cover-container">
    <header class="masthead clearfix">
	  <div class="inner">
	    <h3 class="masthead-brand">Quizify</h3>
	    <div class="clock-wrapper">
	      <div class='clock'></div>
	    </div>
		<ul class="nav masthead-nav">
		</ul>
	  </div>
	</header>

	<div class="inner cover sandwich-wrapper">
	  <button class="navbar-toggle collapsed btn btn-default" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	</div>
	
	<div class="inner cover team-score-wrapper collapse navbar-collapse bs-navbar-collapse">
	  <div class="row teams-wrap">
	    <% _.each(obj.teams, function (team, idx) { %>
		  <div id="<%=team.id%>" class="col-md-2 team">
		    <div data-toggle="tooltip" data-placement="top" title="<%=team.name%>" class="thumbnail">
			  <div class="caption">
			    <h5><%=team.abbr%></h5>
			    <p><span class="label label-default score">0</p>
			  </div>
		    </div>
		  </div>
		<% }) %>
	  </div>
	</div>
	
	<div class="cover">
	  <div class="jumbotron quiz-content">
	  </div>
	</div>
	
  </div>
</div>
