<div class="modal quiz-rules fade" id="quizRules" tabindex="-1" role="dialog" aria-labelledby="quizRulesLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title masthead-brand" id="score-title">Quiz Rules</h4>
      </div>
      <div class="modal-body">
        <div class="cover">
          <p class="lead bold bg-default">INDIVIDUAL PARTICIPANTS</p>
          <ul>
            <li>Total no. of participants: 7</li>
          </ul>

          <p class="lead bold bg-default">CATEGORIES</p>
          <ul>
            <li>English Language</li>
            <li>Sports</li>
            <li>General Knowledge</li>
            <li>Current Affairs</li>
          </ul>

          <p class="lead bold bg-default">BIG BUMPER ROUND</p>
          <ul>
            <li>For every correct answer, <strong>+100</strong> will be rewarded. For every wrong answer, <strong>-50</strong> will be deducted from the team's current score.</li>
            <li>Every selected team must have to play the round. There is no option to pass or skip it. Choose wisely before raising your hand.</li>
            <li>No answer options available for the round. Correct answer needs to be verbally communicated to the organiser within given time frame.</li>
            <li>20 seconds will be given to tell the correct answer.</li>
          </ul>

          <p class="">In case of a tie, a <strong>Super Quiz Wizard</strong> round will be organised and one chosen member from each team will participate for a best of 5 round to win.</p>

        </div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" id="start-quiz" data-dismiss="modal" class="btn btn-default btn-lg start"><span class="glyphicon glyphicon-play"></span> Start</button>
      </div>
    </div>
  </div>
</div>